Host *
  ControlPersist 1h
  ServerAliveInterval 60
  # PasswordAuthentication no
  # ChallengeResponseAuthentication no
  PubkeyAuthentication yes
  ForwardAgent yes
  IdentityFile ~/.ssh/id_rsa_capture_cluster
  UseKeychain yes
  AddKeysToAgent yes
  #RemoteForward 52698 localhost:52698

Host river.neoplex.org
    #RemoteForward 52698 127.0.0.1:52698
    PubkeyAcceptedKeyTypes +ssh-dss
    HostName river.neoplex.org
    IdentityFile ~/.ssh/id_rsa_capture_cluster

Host bk.cptr.no
  HostName bk.cptr.no

Host bast1.no
  ProxyCommand ssh bk.cptr.no nc -N 62.92.26.132 2233

Host app*
  ProxyCommand ssh bast1.no nc %h 22

Host db*
  ProxyCommand ssh bast1.no nc %h 22

Host util1
  ProxyCommand ssh bast1.no nc %h 22

Host db1a
  ProxyCommand ssh bast1.no nc %h 22

Host db2a
  ProxyCommand ssh bast1.no nc %h 22

Host db3a
  ProxyCommand ssh bast1.no nc %h 22

Host db4a
  ProxyCommand ssh bast1.no nc %h 22


Host db7a
  ProxyCommand ssh bast1.no nc %h 22

Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/id_rsa.pub
    



